# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY="AQ.Ab8RN6KNR9T9qqVx0cbWGQSh4NlkPqIGfs4nNIEwGRD5EX9b3g"

# TELEGRAM_BOT_TOKEN: Telegram Bot HTTP API Token
TELEGRAM_BOT_TOKEN="8796371486:AAF2OEA79DF15NflP0OcMBZ8tD4wdoqT9-k"

# TELEGRAM_BOT_USERNAME: Telegram Bot Username / Chat ID
TELEGRAM_BOT_USERNAME="@venteg_bot"

# APP_URL: The URL where this applet is hosted.
APP_URL="MY_APP_URL"
